# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# -----------------------------
# Generated Project Data
# -----------------------------
frames/
indexes/
transcripts/
videos/

# -----------------------------
# Model Files
# -----------------------------
*.pt

# -----------------------------
# Frontend
# -----------------------------
frontend/node_modules/
frontend/dist/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db